<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.SampleJDBC2.AppTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testDeleteData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testInsertData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetAllItems</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testApp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
