<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6aaeab">  <td>22/06/06 14:18:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testApp()[pri:0, instance:com.SampleJDBC2.AppTest@7164ca4c]">testApp</td> 
  <td>main@176683244</td>   <td></td> </tr>
<tr bgcolor="6aaeab">  <td>22/06/06 14:18:59</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testDeleteData()[pri:0, instance:com.SampleJDBC2.AppTest@7164ca4c]">testDeleteData</td> 
  <td>main@176683244</td>   <td></td> </tr>
<tr bgcolor="6aaeab">  <td>22/06/06 14:18:59</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testGetAllItems()[pri:0, instance:com.SampleJDBC2.AppTest@7164ca4c]">testGetAllItems</td> 
  <td>main@176683244</td>   <td></td> </tr>
<tr bgcolor="6aaeab">  <td>22/06/06 14:18:59</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testInsertData()[pri:0, instance:com.SampleJDBC2.AppTest@7164ca4c]">testInsertData</td> 
  <td>main@176683244</td>   <td></td> </tr>
</table>
